textarea {
    min-height: 400px;
}

#email-recipient, .heading {
   font-weight: bold;    
}

#email-card {
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
    
}

.read {
    background-color: rgb(243, 243, 243);
}

#archive-icon {
    height:2rem;
}